*{
    margin:0;
    padding:0;
}

body{
    background-color: #f9f9f9;
    max-width: 1020px;
    margin: auto;
    }
    .sign_in{
        display: flex;
        justify-content: flex-end;
    }
    .title{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .check_boxes{
      display: flex;
      padding: 30px 10px;
      background-color: white;
      }
      .check_box1{
          margin-right: 20px;
      }
      .check_box2{
        margin-right: 20px;
    }
    .check_box3{
        margin-right: 20px;
    }
    .check_box4{
        margin-right: 20px;
    }
    .check_box5{
        margin-right: 20px;
    }
    input[type=checkbox]{
        color: aquamarine;
        background-color: white;
    }
    input[type=text1] {
       margin-right: 20px;
       margin-top: 20px;
    }
    input[type=text2] {
        margin-right: 20px;
        padding: 8px 16px;
        background-color:#47C1BF;
        color: white;
        width: 100px;
        margin-top: 20px;
        border: none;
    }

    .check_boxes input{
        margin-right: 12px;
    }
    .sorted{
        display: flex;
        justify-content: flex-end;
        transform: translateY(-100%)
    }
    .trump_img{
        width: 200px;
        height: 100px;
        
    }
    .main_section{
        display: flex;
        padding: 40px 40px;
        background-color: white;
        margin-top: 20px;

    }
    .main_para{
      margin-left: 20px;
     

    }
    .first_para{
        
       font-size: 30px; 
       margin-bottom: 20px;

    }
    .second_para{
        font-weight: 700;
        font-size: 16px; 
    }

    